---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a graduate with a strong passion for digital marketing. Skilled in social media management, content creation, and email marketing.
Seeking a challenging role to apply my knowledge and contribute to a dynamic marketing team. I am committed and enthusiastic in applying creative
thinking to solving complex problems. I am also passionate and enjoy Digital Marketing with a big interest in solving complex marketing problems. 

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Diploma in Arabic & Shariah"
      subtitle="2021 to 2024 at Morkaz Taqwa Ilorin, Nigeria"
    />
    <TimeLineElement
      title="Digital Marketing Intern"
      subtitle="2024 to 2024 at Honeytreat Academy, Lagos, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Internship with Zico Concept Organization 2024.
Create Blog posts, Google Ads, Meta Ads and Google Business Profile.
Uses of SEO concepts like keywords, meta tags, backlinks, and on-page optimization.
 Google's Webmaster Tools, Google Analytics, and Google Tag Manager.
We  create  websites or blogs and apply SEO techniques to improve its ranking.
We offer your services to small businesses or individuals to gain real-world experience.

</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Google Ads Display Certification (https://skillshop.credential.net/16dda69d-235d-41ea-bcb1-61d96cfb7437#acc.kaxEIpvG)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Content marketing</li>
    <li>S.E.O Optimization</li>
    <li>Google Ads</li>
    <li>Google Analytics</li>
    <li>Google Search console</li>
    <li>Meta Ads</li>
    <li>Email Marketing</li>
    <li>Snapchat Ads</li>
    <li>Blog Writing</li>
    <li>Social Media Marketing</li>
    <li>Google Business Profile</li>
    <li>Twitter Ads</li>
    <li>Linkdin Ads</li>
    <li>Google Tag Manager</li>
    <li>Graphics Design</li>
  </ul>
</BaseLayout>
